<h1>Square Root Calculation</h1>

<form action="/square_root/results">
  <div>

    <label for ="user_num">
      Enter a number
    </label>

    <input id = "user_num" type="text" name="user_num" placeholder="What number do you want to take the square root of?">
  </div>

  <button>
    Calculate square root
  </button>

</form>
